# Data Science Tool and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
- Python
- Julia
- R
- Scala
- SQL
- C++

**Objective:** 
- list popular data science languages
- ist popular data science tools
- list populat data science libraries

Some of the commonly used libraries used by Data Scientists include:
- Matplotlib
- Seaborn
- scikit-learn
- Keras
- TensorFlow
- Pytorch

| Data Science Tools |
|-------------------|
| Knime |
| Orange |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4) + 5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
m = 200
h = m/ 60
print(h)

3.3333333333333335

## Author 
Mehrab Mahdian